content-padding = 30px

// .content
//   padding content-padding content-padding 0 content-padding

.text
  font-size 16px

  h2
    font-size 22px
    font-family fonts-main
    line-height 130%
    color color-highlight

  p,
  blockquote
    margin 20px 0
    font-family fonts-text
    line-height 150%

    + h2
      margin-top 40px

  strong
    font-family fonts-text-bold
    font-weight normal
    color color-orange

  blockquote
    font-style italic

    footer
      margin-top 10px
      text-align right

    cite
      font-style normal

  figure
    position relative
    left - content-padding
    width calc(100% + 60px)

    img
      width 100%

  figcaption
    margin 10px content-padding 0px content-padding
    line-height 130%
    font-size 14px
    font-style italic
    font-family fonts-text
    text-align center
