.footer
  display flex

  @media ({medium})
    line-height 130px

.footer-menu
  flex 2

  @media ({medium})
    flex 1

.footer-menu-items
  display flex
  list-style none

  @media ({medium})
    display block
    text-align right
    margin-right 45px

.footer-menu-item
  flex 1
  background color-faded

  @media ({medium})
    display inline-block
    text-align center
    background none

    & + &
      margin-left 30px

.footer-menu-item-link
  display flex
  box-sizing border-box
  border-left 1px solid color-background

  @media ({small})
    padding 0

  @media ({medium})
    display inline
    padding-top .5ex
    padding-bottom .1ex
    border none

  .footer-menu-item:first-child &
    border-left none

.footer-menu-item-title
  margin auto
  font-size 20px

.loop-infinito
  flex 1
  color color-blue
  background color-highlight

  @media ({medium})
    flex 2
    background none
    border-left layout-border

.loop-infinito-link
  display flex
  border-bottom none
  color white
  box-sizing border-box
  border-left 1px solid color-background

  @media ({medium})
    display inline
    margin-left 40px
    color inherit

  &:hover
    border-bottom none

  p
    margin auto
    margin-right 10px
    font-size 14px
    text-align right
    line-height 150%

    @media ({medium})
      display inline
      text-align left

.loop-infinito-name
  display block

  @media ({medium})
    display inline
    shape()
    color color-highlight

    &:hover
      background @color
