.footer
  display flex

.footer-menu
  flex 2

.footer-menu-items
  display flex
  list-style none

.footer-menu-item
  flex 1
  background color-faded

.footer-menu-item-link
  display flex
  padding 0
  box-sizing border-box
  border-left 1px solid color-background

  .footer-menu-item:first-child &
    border-left none

.footer-menu-item-title
  margin auto
  font-size 20px

.loop-infinito
  flex 1
  color color-blue
  background color-highlight

.loop-infinito-link
  display flex
  border-bottom none
  color white
  box-sizing border-box
  border-left 1px solid color-background

  &:hover
    border-bottom none

  p
    margin auto
    margin-right 10px
    font-size 14px
    text-align right
    line-height 150%

.loop-infinito-name
  display block
