// Animations ------------------------------------------------------------------

@keyframes moveinfromleft
  0%
    transform translateX(-100%)
  100%
    transform translateX(0)

@keyframes moveoutfromleft
  0%
    transform translateX(0)
  100%
    transform translateX(-100%)

@keyframes moveinfromright
  0%
    transform translateX(+100%)
  100%
    transform translateX(0)

@keyframes moveoutfromright
  0%
    transform translateX(0)
  100%
    transform translateX(+100%)

@keyframes moveinfromtop
  0%
    transform translateY(-100%)
  100%
    transform translateY(0)

@keyframes moveoutfromtop
  0%
    transform translateY(0)
  100%
    transform translateY(-100%)

@keyframes moveinfrombottom
  0%
    transform translateY(+100%)
  100%
    transform translateY(0)

@keyframes moveoutfrombottom
  0%
    transform translateY(0)
  100%
    transform translateY(+100%)

// --

guest-dimension           = 50%
guest-highlight-dimension = 100%

// Styles ----------------------------------------------------------------------

.guests
  display flex
  flex-wrap wrap
  list-style none

  @media ({medium})
    align-items flex-end

.guest
  position relative
  width 50%
  box-sizing border-box
  border-left 1px solid color-background
  border-bottom @border-left
  background darken(color-background, 60%)

  &::before
    content ''
    display block
    padding-top 100%

  &:first-of-type
    width 100%

    @media ({medium})
      width 66.66%

      &:hover
        .guest-image
          filter brightness(115%)

      .guest-image
        transition filter 0.2s ease

    .guest-overlay
      transform translateY(0)

    .guest-info
      right 30px
      bottom @right
      padding 0
      background none

    // span
    //   display inline-block
    //   padding 12px 15px 10px 15px

    .guest-name
      display inline-block
      padding 6px 10px
      font-size 38px
      font-family fonts-heading
      background color-orange

    .guest-professional-info
      display inline-block
      padding 0 10px
      font-size 15px
      line-height 200%
      font-family fonts-main
      background color-blue
      color color-yellow-light

    // .guest-last-name
    //   padding-top 0

    .guest-company
      font-family fonts-heading-italic

  @media ({small})
    &:first-child,
    &:nth-child(2n)
      border-left none

  @media ({medium})
    width 33.33%

  // &:hover
  //   top 0
  //   left 0

  // &.move-in-from-left
  //   .guest-overlay
  //     animation moveinfromleft 0.2s ease-in-out forwards

  // &.move-out-from-left
  //   .guest-overlay
  //     animation moveoutfromleft 0.2s ease-in-out forwards

  // &.move-in-from-right
  //   .guest-overlay
  //     animation moveinfromright 0.2s ease-in-out forwards

  // &.move-out-from-right
  //   .guest-overlay
  //     animation moveoutfromright 0.2s ease-in-out forwards

  // &.move-in-from-top
  //   .guest-overlay
  //     animation moveinfromtop 0.2s ease-in-out forwards

  // &.move-out-from-top
  //   .guest-overlay
  //     animation moveoutfromtop 0.2s ease-in-out forwards

  // &.move-in-from-bottom
  //   .guest-overlay
  //     animation moveinfrombottom 0.2s ease-in-out forwards

  // &.move-out-from-bottom
  //   .guest-overlay
  //     animation moveoutfrombottom 0.2s ease-in-out forwards

  // &.fade
  //   .guest-overlay
  //     top 0
  //     left 0
  //     opacity: 0
  //     transition(opacity 0.2s ease)
  //   &:hover .guest-overlay
  //     opacity 1

.guest-link
  position absolute
  display block
  top 0
  left 0
  width 100%
  height 100%
  overflow hidden
  border-bottom none

  &:hover
    border-bottom none

.guest-image
  width 100%
  height 100%

.guest-overlay
  position absolute
  left 0
  top 0
  width 100%
  height 100%

.guest-info
  position absolute
  right 0
  bottom 0
  box-sizing border-box
  padding 6px 10px
  text-align right
  color white
  background color-link

.guest-name
  display block
  font-size 20px
  font-family fonts-main
  line-height 110%
  letter-spacing -0.06em

.guest-professional-info
  display none
