.header
  text-align center

.header-title
  font-size 120px

.header-link
  display block
  color color-highlight

  @media ({medium})
    line-height 120%

  &.shape
    padding 0 0 20px 0

    &:hover
      background color-highlight

    @media ({medium})
      padding-right 30px
      padding-left @padding-right
      padding-bottom 10px

  &::selection
    background transparent
