.header
  text-align center

.header-title
  font-size 120px

.header-link
  display block
  color color-highlight

  &.shape
    padding 0 0 20px 0

    &:hover
      background color-highlight

  &::selection
    background transparent
