.interview-info
  padding 30px 30px 10px 30px
  text-align left

  @media ({medium})
    font-size 24px

.interview-date
  color color-faded
  font-size 20px

  .date-month
    font-style italic

.interview-title
  position relative
  left -0.5ex
  margin-bottom 20px
  font-size 42px

  @media ({medium})
    margin-bottom 0
    font-size 60px

.interview-link
  color color-highlight

  &:hover
    background-color color-highlight
    border-bottom none

.interview-number
  color color-faded

.interview-positions
  list-style none
  line-height 150%
  color rgba(color-yellow, 0.4)

  .position-do
    color color-link

  .position-at
    color color-text
