.page-about

  .header
    border-bottom layout-border

  .area-left,
  .area-right
    float left
    width 50%
    height 100%

  .area-left
    background color-blue
    color color-blue-dark
    line-height guest-dimension + grid-spacing
    text-align right

    h1
      margin-right 70px

  .wrapper
    width guestview-width

  .content
    border-bottom layout-border

    .text p
      font-size 20px

  .content-area
    width (guestview-width / 2) - content-padding - grid-spacing
    padding (content-padding - 25px) content-padding (content-padding - 25px) 0
    text-align right
    border-right layout-border


  .footer .menu
    margin-left guest-dimension + grid-spacing