.page-about

  .header
    border-bottom layout-border

  .area-left,
  .area-right
    float left
    width 50%
    height 100%

  .area-left
    background color-blue
    color color-blue-dark
    line-height guest-dimension + grid-spacing
    text-align right

    h1
      margin-right 70px

  .wrapper
    width guestview-width

  .content
    border-bottom layout-border

  .content-area
    width (guestview-width / 2) - content-padding - grid-spacing
    padding (content-padding * 0.8) content-padding (content-padding * 0.8) 0
    text-align right
    border-right layout-border
    font-family fonts-text
    font-size 20px
    line-height 170%

  .footer .menu
    margin-left guest-dimension