guestview-width = (guest-highlight-dimension * 2) + grid-spacing

.page-guest

  .wrapper
    width guestview-width

  .area-left
  	float left
  	width guest-highlight-dimension
  	height guest-highlight-dimension
  	border-right layout-border

  .area-right
  	float right
  	width guest-highlight-dimension
  	height guest-highlight-dimension

  .header
  	width 100%
  	height guest-dimension * 2
  	overflow hidden
  	border-bottom layout-border

