guestview-width = (guest-highlight-dimension * 2) + grid-spacing

.page-guest

  .wrapper
    width guestview-width
    position relative

  .area-left
    float left
    width guest-highlight-dimension
    height guest-highlight-dimension
    border-right layout-border

  .area-right
    position relative
    float right
    width guest-highlight-dimension - content-padding
    height @width - (content-padding * 0.8)
    padding (content-padding * 0.8) 0 content-padding content-padding
    font-size 24px
    overflow hidden

  .header
    width 100%
    height guest-dimension * 2
    overflow hidden
    border-bottom layout-border

  .footer .menu
    margin-left guest-dimension + grid-spacing

.interview-date
  color color-blue

  .date-month
    font-style italic

.interview-title
  font-size 60px
  color color-orange

.interview-number
  color color-blue

.guest-information
  position absolute
  list-style none
  line-height 40px
  bottom content-padding * 0.8
  color #5E4A22

  .position-do
    color color-yellow

  .position-at
    color color-yellow-light

button-dimension = 90px

.button
  position absolute
  width 63px
  height @width * 2
  top guest-dimension - (@width)
  overflow hidden

  a
    position relative
    display block
    width button-dimension
    height button-dimension
    transform(rotate(45deg))

    &:hover
      border-color color-yellow

.button-prev
  left - button-dimension

  a
    border-bottom layout-border
    border-left layout-border
    top 17px
    left 19px

.button-next
  right - button-dimension

  a
    border-top layout-border
    border-right layout-border
    top 17px
    right 47px

    &:hover
      border-bottom none