home-width (guest-dimension * 3) + (grid-spacing * 2)

.page-home

  .wrapper
    width home-width

  .header
    width guest-dimension * 1.5
    float right
    margin-right -(@width/3)

// @media all and (max-width: home-width)