home-width = (guest-dimension * 3) + (grid-spacing * 2)

.page-home

  .wrapper
    width home-width

  .header
    width guest-dimension * 1.5
    float right
    margin-right -(@width/3)

// Infelizmente nao da pra usar variaveis com media queries no stylus.
// O jeito eh apelar
// mediaq = "screen and (min-width: " + (home-width + 1) + ")"
// @media mediaq

// mediaq = "screen and (max-width: " + home-width + ")"
// @media mediaq

//   .page-home
//