// Color palette ---------------------------------------------------------------

color-blue          = #23435D
color-blue-dark     = #072226
color-yellow        = #E98D08
color-yellow-light  = #DDCCA9
color-orange        = #EE5100

// Setup colors

color-background    = color-blue-dark
color-text          = color-yellow-light
color-link          = color-yellow
