// Font families ---------------------------------------------------------------

fonts-serif           = Times, serif
fonts-sans            = Helvetica, Arial, sans-serif

fonts-main            = 'Adelle Regular', fonts-serif
fonts-heading         = 'Adelle Light', fonts-main
fonts-heading-italic  = 'Adelle Light Italic', fonts-main
fonts-text            = 'Proxima Nova Alt Regular', fonts-sans
fonts-text-bold       = 'Proxima Nova Alt Bold', fonts-sans

// Font faces ------------------------------------------------------------------

path      = '../fonts/'
font-path = path + 'adelle_light-webfont'

@font-face
    font-family 'Adelle Light'
    src url(font-path + '.eot')
    src url(font-path + '.eot?#iefix') format('embedded-opentype'),
        url(font-path + '.woff') format('woff'),
        url(font-path + '.ttf') format('truetype'),
        url(font-path + '.svg#adelle_ltlight') format('svg')
    font-weight normal
    font-style normal

font-path = path + 'adelle_lightitalic-webfont'

@font-face
    font-family 'Adelle Light Italic'
    src url(font-path + '.eot')
    src url(font-path + '.eot?#iefix') format('embedded-opentype'),
        url(font-path + '.woff') format('woff'),
        url(font-path + '.ttf') format('truetype'),
        url(font-path + '.svg#adelle_ltlight_italic') format('svg')
    font-weight normal
    font-style normal

font-path = path + 'adelle_reg-webfont'

@font-face
    font-family 'Adelle Regular'
    src url(font-path + '.eot')
    src url(font-path + '.eot?#iefix') format('embedded-opentype'),
        url(font-path + '.woff') format('woff'),
        url(font-path + '.ttf') format('truetype'),
        url(font-path + '.svg#adelle_rgregular') format('svg')
    font-weight normal
    font-style normal

font-path = path + 'proximanovaalt-bold-webfont'

@font-face
    font-family 'Proxima Nova Alt Bold'
    src url(font-path + '.eot')
    src url(font-path + '.eot?#iefix') format('embedded-opentype'),
        url(font-path + '.woff') format('woff'),
        url(font-path + '.ttf') format('truetype'),
        url(font-path + '.svg#proxima_nova_alt_rgbold') format('svg')
    font-weight normal
    font-style normal

font-path = path + 'proximanovaalt-reg-webfont'

@font-face
    font-family 'Proxima Nova Alt Regular'
    src url(font-path + '.eot')
    src url(font-path + '.eot?#iefix') format('embedded-opentype'),
        url(font-path + '.woff') format('woff'),
        url(font-path + '.ttf') format('truetype'),
        url(font-path + '.svg#proxima_nova_alt_rgregular') format('svg')
    font-weight normal
    font-style normal
