color-blue-dark = #072226
color-blue = #23435D
color-yellow-light = #DDCCA9
color-yellow = #E98D08
color-orange = #EE5100

// Fonts -----------------------------------------------------------------------
fonts-main = 'Adelle Regular', Times, serif
fonts-text = 'Proxima Nova Alt Regular', Helvetica, Arial, sans-serif
fonts-text-bold = 'Proxima Nova Alt Bold', Helvetica, Arial, sans-serif
fonts-heading = 'Adelle Light', 'Adelle Regular', Times, serif
fonts-heading-italic = 'Adelle Light Italic', 'Adelle Regular', Times, serif

// Grid ------------------------------------------------------------------------
grid-spacing = 1px
grid-border = grid-spacing solid color-blue-dark
layout-border = grid-spacing solid color-blue

// General styles --------------------------------------------------------------
*
  padding 0
  margin 0
  -webkit-font-smoothing antialiased
  font-smoothing antialiased

body
  background color-blue-dark
  color color-yellow-light
  font-family fonts-main
  font-size 15px
  font-weight 100

a
  color color-yellow
  text-decoration none
  border-bottom 1px dashed rgba(color-yellow, 0.5)

  &:hover
    border-bottom 1px solid color-yellow

  &.shape
    padding 0 0.5ex
    border-bottom none

    &:hover
      background @color
      color color-blue-dark
      border-bottom none

img,
a img
  border none

h1
  font-weight 100
  font-size 120px
  font-family fonts-heading
  letter-spacing -0.06em

h2
  font-weight 100

.wrapper
  margin auto
