// Breakpoints -----------------------------------------------------------------

medium = 'min-width: 800px'
large  = 'min-width: 1280px'

// Media query usage:
//
// @media ({medium})
//   property: value
