vendor-property(property, args)
  -webkit-{property} args
  -moz-{property} args
  -ms-{property} args
  -o-{property} args
  {property} args

vendor-value(property, args)
  {property} s('-webkit-%s', args)
  {property} s('-moz-%s', args)
  {property} s('-ms-%s', args)
  {property} s('-o-%s', args)
  {property} args

transition()
  vendor-property('transition', arguments)

transform()
  vendor-property('transform', arguments)

filter()
  vendor-property('filter', arguments)

order()
  vendor-property('order', arguments)

display()
  vendor-value('display', arguments)