about-header-height = 234px

.page-about

  .header
    @media ({medium})
      display flex
      border-bottom layout-border

  .header-title,
  .about-title
    @media ({medium})
      flex 1
      flex-basis 50%
      padding 0
      box-sizing border-box
      line-height about-header-height

  .header-title
    @media ({medium})
      order 2
      text-align left

  .header-link
    @media ({medium})
      padding-left 60px
      line-height about-header-height

  .about-title
    font-size 74px
    background color-faded
    color color-background

    @media ({small})
      padding 6px 0

    @media ({medium})
      order 1
      font-size 120px
      text-align right
      padding-right 70px

  .content
    text-align center

    @media ({medium})
      box-sizing border-box
      padding 40px 45px 1px 40px
      text-align right
      border-right layout-border

    @media ({large})
      padding-left 12%

    &.wrapper
      @media ({medium})
        width 50%
        margin 0

  .text
    @media ({medium})
      font-size 20px

    p
      margin-bottom 50px

    h2
      color color-blue
      letter-spacing -0.03em

      @media ({medium})
        font-size 28px

  .footer
    @media ({medium})
      border-top layout-border

  .footer-menu
    @media ({medium})
      flex-basis 50%
      box-sizing border-box
      border-right layout-border

  .footer-menu-items
    @media ({medium})
      margin-right 40px
      text-align right

  .loop-infinito
    @media ({medium})
      flex 1
      flex-basis 50%
      box-sizing border-box
      border-left none
