.page-guest

  .header
    @media ({medium})
      border-bottom layout-border

  .wrapper
    @media ({medium})
      position relative
      display flex
      width 935px

  .guest
    @media ({medium})
      flex 1
      flex-basis 50%

  .interview-info
    @media ({medium})
      position relative
      flex 1
      flex-basis 50%
      box-sizing border-box
      padding 36px 0 45px 45px
      border-left layout-border

  .interview-positions
    @media ({medium})
      position absolute
      bottom 36px


// guestview-width = (guest-highlight-dimension * 2) + grid-spacing

// .page-guest

//   .wrapper
//     width guestview-width
//     position relative

//   .area-left
//     float left
//     width guest-highlight-dimension
//     height guest-highlight-dimension
//     border-right layout-border

//   .area-right
//     position relative
//     float right
//     width guest-highlight-dimension - content-padding
//     height @width - (content-padding * 0.8)
//     padding (content-padding * 0.8) 0 content-padding content-padding
//     font-size 24px
//     overflow hidden

//   .header
//     width 100%
//     height guest-dimension * 2
//     overflow hidden
//     border-bottom layout-border

//   .footer .menu
//     margin-left guest-dimension + grid-spacing
