.page-guest

  .header
    border-bottom layout-border

  .wrapper
    @media ({medium})
      position relative
      display flex
      width 935px

  .content
    margin-bottom 60px

    @media ({medium})
      padding 0
      margin-bottom 0

  .guest
    @media ({medium})
      flex 1
      flex-basis 50%

  .interview-info
    @media ({medium})
      position relative
      flex 1
      flex-basis 50%
      box-sizing border-box
      padding 36px 0 45px 45px
      border-left layout-border

  .interview-positions
    @media ({medium})
      position absolute
      bottom 36px

  .loop-infinito
    @media ({medium})
      flex 1
      padding-left 1px
