.page-home

  .wrapper
    @media ({medium})
      position relative
      width 701px

  .header
    @media ({medium})
      position absolute
      left 66.66%
      top 40px
      margin-left 40px
