.header
  height guest-dimension + grid-spacing
  line-height @height

  a
    color color-orange
    margin-left 40px

    &:hover
      background color-orange
      color color-blue-dark

    &::selection
        background transparent