// Imports ---------------------------------------------------------------------
@import mixins
@import font_faces

// Colors ----------------------------------------------------------------------
color-blue-dark = #072226
color-blue = #23435D
color-yellow-light = #DDCCA9
color-yellow = #F38825
color-orange = #EE5100

// Fonts -----------------------------------------------------------------------
fonts-main = 'Adelle Regular'
fonts-text = 'Proxima Nova Alt Regular'
fonts-heading = 'Adelle Light'
fonts-heading-italic = 'Adelle Light Italic'

// Grid ------------------------------------------------------------------------
grid-spacing = 1px
grid-border = grid-spacing solid color-blue-dark
guest-dimension = 233px

// Footer ----------------------------------------------------------------------
footer-padding = 50px
footer-line-height = 20px

// General styles --------------------------------------------------------------
*
  padding 0
  margin 0
  -webkit-font-smoothing antialiased

body
  background color-blue-dark
  color color-yellow-light
  font-family fonts-main
  font-size 15px
  font-weight 100

a
  color color-yellow
  text-decoration none

  &:hover
    border-bottom 1px solid color-yellow

  &.shape
    padding 0 0.5ex

    &:hover
      background @color
      color color-blue-dark
      border-bottom none

h1
  font-weight 100
  font-size 120px
  font-family fonts-heading
  letter-spacing -0.06em

.wrapper
  // width (guest-dimension * 3) + (grid-spacing * 2)
  margin auto

.header
  // width guest-dimension * 1.5
  height guest-dimension + grid-spacing
  // float right
  // margin-right -(@width/3)
  line-height @height

  a
    color color-orange
    margin-left 40px

    &:hover
      background color-orange
      color color-blue-dark

    &::selection
        background transparent

.guests
  list-style: none

.guest
  width guest-dimension
  height guest-dimension
  display block
  float left
  background #666
  border-bottom grid-border

  &:nth-of-type(2)
    border-bottom grid-border

  &:nth-of-type(3n+1)
    border-left grid-border
    border-right grid-border

  &:hover .guest-overlay
    top 0
    left 0

  &.move-from-left
    .guest-overlay
      top 0
      bottom auto
      left auto
      right 100%
      transition-move(right)
    &:hover .guest-overlay
      right 0

  &.move-from-right
    .guest-overlay
      top 0
      bottom auto
      left 100%
      right auto
      transition-move(left)
    &:hover .guest-overlay
      left 0

  &.move-from-top
    .guest-overlay
      top auto
      bottom 100%
      left 0
      right auto
      transition-move(bottom)
    &:hover .guest-overlay
      bottom 0

  &.move-from-bottom
    .guest-overlay
      top 100%
      bottom auto
      left 0
      right auto
      transition-move(top)
    &:hover .guest-overlay
      top 0

  &.fade
    .guest-overlay
      top 0
      left 0
      opacity: 0
      transition-fade()
    &:hover .guest-overlay
      opacity 1

.guest-link
  position relative
  width 100%
  height 100%
  display block
  overflow hidden
  background black

  &:hover
    border-bottom none

.guest-image
  width 100%
  height 100%

.guest-overlay
  position absolute
  width 100%
  height 100%
  background black

.guest-info
  display table-cell
  width guest-dimension
  height guest-dimension
  vertical-align middle
  text-align right
  padding 20px
  box-sizing border-box
  font-size 42px
  line-height 46px
  color white
  background color-yellow

.guest-professional-info
  display none

.guest:first-of-type
  width (guest-dimension * 2) + grid-spacing
  height @width
  border-left none !important

  .guest-image
    transition(-webkit-filter 0.2s ease)

  &:hover .guest-image
    filter(brightness(115%))

  .guest-overlay
    top 0
    left 0
    background none

    .guest-info
      // resetando estilos
      position absolute
      display block
      width auto
      height auto
      padding 0
      box-sizing content-box
      background none
      // setando estilos
      right 50px
      bottom @right

      span
        display inline-block
        padding 12px 15px 10px 15px

        &.guest-professional-info
          font-size 15px
          line-height @font-size
          font-family fonts-main
          background color-blue
          color color-yellow-light

        &.guest-name
          background color-orange
          font-size 66px
          font-family fonts-heading
          line-height @font-size
          letter-spacing -0.06em

        &.guest-last-name
          padding-top 0

        &.guest-company
          font-family fonts-heading-italic
          padding 0

.footer
  clear both

.menu
  width guest-dimension
  float left
  border-right 1px solid color-blue
  padding footer-padding 0

  ul
    list-style none
    text-align center

.menu-item
  display inline-block

  a
    font-size 20px
    line-height footer-line-height
    margin: 0 15px

.loop-infinito
  padding footer-padding
  float left
  color color-blue
  line-height footer-line-height

  a
    color color-orange
    opacity 0.8
    padding 0 3px

    &:hover
      background @color
      color color-blue-dark

@import home