transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

transition-move(po)
  -webkit-transition po 0.2s ease

transition-fade()
  -webkit-transition opacity 0.2s ease

filter()
  -webkit-filter arguments
  -moz-filter arguments
  -ms-filter arguments
  -o-filter arguments
  filter arguments