vendor(property, args)
  -webkit-{property} args
  -moz-{property} args
  -ms-{property} args
  -o-{property} args
  {property} args

transition()
  vendor('transition', arguments)

filter()
  vendor('filter', arguments)