content-padding = 45px

question-left()
  padding-right content-padding
  text-align right
  border-right layout-border
  order(1)

question-right()
  padding-left content-padding
  order(2)

.question
  border-bottom layout-border

  .wrapper
    display(flex)

.question-title-area,
.question-content-area
  width 50%
  padding (content-padding - 27px) 0

.question-title
  color color-orange
  font-size 36px
  margin-top 9px
  position relative

.text p
  margin 20px 0
  font-family fonts-text
  font-size 20px
  line-height 170%

.image-fit
  width guest-highlight-dimension
  margin 30px 0
  display block
  border layout-border
  box-sizing border-box

.image-float
  width (guest-highlight-dimension / 2)
  margin 10px 20px
  border layout-border

.question:nth-of-type(2n)

  .question-title-area
    question-left()

    .question-title
      right -3px

  .question-content-area
    question-right()

    .image-fit,
    .image-float
      border-left none
      margin-left - content-padding

    .image-float
      float left

.question:nth-of-type(2n+1)

  .question-title-area
    question-right()

    .question-title
      left -3px

  .question-content-area
    question-left()

    .image-fit,
    .image-float
      border-right none
      margin-right - content-padding

    .image-float
      float right