content-padding = 45px

question-left()
  padding-right content-padding
  text-align right
  border-right layout-border
  order(1)

question-right()
  padding-left content-padding
  order(2)

.question
  border-bottom layout-border

  .wrapper
    display(flex)

.question-title-area,
.question-content-area
  width 50%
  padding (content-padding - 27px) 0

.question-title
  color color-orange
  font-size 36px
  margin-top 9px
  position relative

.text p
  margin 20px 0
  font-family fonts-text
  font-size 20px
  line-height 170%

.question:nth-of-type(2n)

  .question-title-area
    question-left()

    .question-title
      right -3px

  .question-content-area
    question-right()

.question:nth-of-type(2n+1)

  .question-title-area
    question-right()

    .question-title
      left -3px

  .question-content-area
    question-left()