content-padding = 45px

question-left()
  padding-right content-padding
  text-align right
  border-right layout-border
  order(1)

question-right()
  padding-left content-padding
  order(2)

.content

  .question
    border-bottom layout-border

    .wrapper
      display(flex)

  .question-title-area,
  .question-content-area
    width 50%
    padding (content-padding * 0.8) 0

  .question-content-area
    font-family fonts-text
    font-size 20px
    line-height 170%

  .question:nth-of-type(2n)

    .question-title-area
      question-left()

    .question-content-area
      question-right()

  .question:nth-of-type(2n+1)

    .question-title-area
      question-right()

    .question-content-area
      question-left()

  .question-title
    color color-orange
    font-size 36px