footer-padding = 50px
footer-line-height = 20px

.footer
  clear both

.menu
  width guest-dimension
  float left
  border-right 1px solid color-blue
  padding footer-padding 0

  ul
    list-style none
    text-align center

.menu-item
  display inline-block

  a
    font-size 20px
    line-height footer-line-height
    margin: 0 15px

.loop-infinito
  padding footer-padding
  float left
  color color-blue
  line-height footer-line-height

  a
    color color-orange
    opacity 0.8
    padding 0 3px

    &:hover
      background @color
      color color-blue-dark