// Vars ------------------------------------------------------------------------
guest-dimension = 233px
guest-highlight-dimension = (guest-dimension * 2) + grid-spacing

// Mixins ----------------------------------------------------------------------
transition-move(po)
  transition(po 0.2s ease)

transition-fade()
  transition(opacity 0.2s ease)

// Animations ------------------------------------------------------------------
@keyframes moveinfromleft
  0%
    transform translateX(-233px)
  100%
    transform translateX(0)

@keyframes moveoutfromleft
  0%
    transform translateX(0)
  100%
    transform translateX(-233px)

@keyframes moveinfromright
  0%
    transform translateX(+233px)
  100%
    transform translateX(0)

@keyframes moveoutfromright
  0%
    transform translateX(0)
  100%
    transform translateX(+233px)

@keyframes moveinfromtop
  0%
    transform translateY(-233px)
  100%
    transform translateY(0)

@keyframes moveoutfromtop
  0%
    transform translateY(0)
  100%
    transform translateY(-233px)

@keyframes moveinfrombottom
  0%
    transform translateY(+233px)
  100%
    transform translateY(0)

@keyframes moveoutfrombottom
  0%
    transform translateY(0)
  100%
    transform translateY(+233px)

// Styles ----------------------------------------------------------------------
.guest
  width guest-dimension
  height guest-dimension
  display block
  float left
  background darken(color-blue-dark, 60%)

  .guest-overlay
    transform translateY(+233px)

  &:hover
    top 0
    left 0

  &.move-in-from-left
    .guest-overlay
      -webkit-animation moveinfromleft 0.2s ease-in-out forwards
      -moz-animation moveinfromleft 0.2s ease-in-out forwards
      -ms-animation moveinfromleft 0.2s ease-in-out forwards
      animation moveinfromleft 0.2s ease-in-out forwards
  &.move-out-from-left
    .guest-overlay
      -webkit-animation moveoutfromleft 0.2s ease-in-out forwards
      -moz-animation moveoutfromleft 0.2s ease-in-out forwards
      -ms-animation moveoutfromleft 0.2s ease-in-out forwards
      animation moveoutfromleft 0.2s ease-in-out forwards

  &.move-in-from-right
    .guest-overlay
      -webkit-animation moveinfromright 0.2s ease-in-out forwards
      -moz-animation moveinfromright 0.2s ease-in-out forwards
      -ms-animation moveinfromright 0.2s ease-in-out forwards
      animation moveinfromright 0.2s ease-in-out forwards
  &.move-out-from-right
    .guest-overlay
      -webkit-animation moveoutfromright 0.2s ease-in-out forwards
      -moz-animation moveoutfromright 0.2s ease-in-out forwards
      -ms-animation moveoutfromright 0.2s ease-in-out forwards
      animation moveoutfromright 0.2s ease-in-out forwards

  &.move-in-from-top
    .guest-overlay
      -webkit-animation moveinfromtop 0.2s ease-in-out forwards
      -moz-animation moveinfromtop 0.2s ease-in-out forwards
      -ms-animation moveinfromtop 0.2s ease-in-out forwards
      animation moveinfromtop 0.2s ease-in-out forwards
  &.move-out-from-top
    .guest-overlay
      -webkit-animation moveoutfromtop 0.2s ease-in-out forwards
      -moz-animation moveoutfromtop 0.2s ease-in-out forwards
      -ms-animation moveoutfromtop 0.2s ease-in-out forwards
      animation moveoutfromtop 0.2s ease-in-out forwards

  &.move-in-from-bottom
    .guest-overlay
      -webkit-animation moveinfrombottom 0.2s ease-in-out forwards
      -moz-animation moveinfrombottom 0.2s ease-in-out forwards
      -ms-animation moveinfrombottom 0.2s ease-in-out forwards
      animation moveinfrombottom 0.2s ease-in-out forwards
  &.move-out-from-bottom
    .guest-overlay
      -webkit-animation moveoutfrombottom 0.2s ease-in-out forwards
      -moz-animation moveoutfrombottom 0.2s ease-in-out forwards
      -ms-animation moveoutfrombottom 0.2s ease-in-out forwards
      animation moveoutfrombottom 0.2s ease-in-out forwards

  &.fade
    .guest-overlay
      top 0
      left 0
      opacity: 0
      transition-fade()
    &:hover .guest-overlay
      opacity 1

.guest-link
  position relative
  width 100%
  height 100%
  display block
  overflow hidden
  border-bottom none

  &:hover
    border-bottom none

.guest-image
  width 100%
  height 100%

.guest-overlay
  position absolute
  width 100%
  height 100%
  background black
  left 0
  top 0

.guest-info
  display table-cell
  width guest-dimension
  height guest-dimension
  vertical-align middle
  text-align right
  padding 20px
  -moz-box-sizing border-box
  box-sizing border-box
  font-size 42px
  line-height 46px
  color white
  background color-yellow

.guest-professional-info
  display none

.guest:first-of-type
  width guest-highlight-dimension
  height @width
  border-left none !important

  .guest-image
    transition(-webkit-filter 0.2s ease)

  &:hover .guest-image
    filter(brightness(115%))

  .guest-overlay
    background none
    transform translateY(0)

  .guest-info
    // resetando estilos
    position absolute
    display block
    width auto
    height auto
    padding 0
    box-sizing content-box
    background none
    // setando estilos
    right 35px
    bottom @right

  span
    display inline-block
    padding 12px 15px 10px 15px

  .guest-professional-info
    font-size 15px
    line-height @font-size
    font-family fonts-main
    background color-blue
    color color-yellow-light

  .guest-name
    background color-orange
    font-size 66px
    font-family fonts-heading
    line-height @font-size
    letter-spacing -0.06em

  .guest-last-name
    padding-top 0

  .guest-company
    font-family fonts-heading-italic
    padding 0

.guest-placeholder
  line-height guest-dimension
  text-align center
  font-size 100px
  color color-blue-dark
  background darken(color-blue-dark, 45%)
