.header
  height guest-dimension + grid-spacing

  .link-home
    color color-orange
    margin-left 40px
    line-height @height

    &:hover
      background color-orange
      color color-blue-dark

    &::selection
        background transparent